<h5>Do you use your phone like you use your shoes?</h5>
   <div class="battery">
         <form action="#" id="battery">
          <p>
            <input class="with-gap" name="group4" type="radio" id="lowbat" value="1440" ng-model="response.battery"/>
            <label for="lowbat">~1440 mAh battery</label>
          </p>
          <p>
            <input class="with-gap" name="group4" type="radio" id="lowmedbat" value="1810" ng-model="response.battery"/>
            <label for="lowmedbat">~1810 mAh battery</label>
          </p>
          <p>
            <input class="with-gap" name="group4" type="radio" id="mediumbat" value="2750" ng-model="response.battery"/>
            <label for="mediumbat">~2750 mAh battery</label>
          </p>
          <p>
            <input class="with-gap" name="group4" type="radio" id="highbat" value="3600" ng-model="response.battery"/>
            <label for="highbat">~3600 mAh battery</label>
          </p>
          <p>
            <input class="with-gap" name="group4" type="radio" id="otherbattery" value="" ng-model="response.battery"/>
            <label for="highbat">Just give me something good</label>
          </p>
        </form>
      </div>