 <div class="brand">
    <h5>Any specific brand you are interested in?</h5>
       <form action="#" id="brand">
        <p>
          <input class="with-gap group1" name="group1" type="radio" id="apple" value="Apple" ng-model="response.brand"/>
          <label for="apple">Apple</label>
        </p>
        <p>
          <input class="with-gap group1" name="group1" type="radio" id="microsoft" value="Microsoft" ng-model="response.brand"/>
          <label for="microsoft">Microsoft</label>
        </p>
        <p>
          <input class="with-gap group1" name="group1" type="radio" id="google" value="Google" ng-model="response.brand"/>
          <label for="google">Google</label>
        </p>
        <p>
          <input class="with-gap group1" name="group1" type="radio" id="samsung" value="Samsung" ng-model="response.brand"/>
          <label for="samsung">Samsung</label>
        </p>
        <p>
          <input class="with-gap group1" name="group1" type="radio" id="otherbrand" value="" ng-model="response.brand"/>
          <label for="otherbrand">Anything is fine</label>
        </p>
      </form>
  </div>