 <h5>Like taking pictures? Artistic?</h5>
    <div class="camera">
         <form action="#" id="camera">
          <p>
            <input class="with-gap" name="group7" type="radio" id="fivemp" value="5" ng-model="response.camera"/>
            <label for="fivemp">~5 Megapixel</label>
          </p>
          <p>
            <input class="with-gap" name="group7" type="radio" id="eightmp" value="8" ng-model="response.camera"/>
            <label for="eightmp">~8 Megapixel</label>
          </p>
          <p>
            <input class="with-gap" name="group7" type="radio" id="twelvemp" value="12" ng-model="response.camera"/>
            <label for="twelvemp">~12 Megapixel</label>
          </p>
          <p>
            <input class="with-gap" name="group7" type="radio" id="sixteenmp" value="16" ng-model="response.camera"/>
            <label for="sixteenmp">~16 Megapixel</label>
          </p>
          <p>
            <input class="with-gap" name="group7" type="radio" id="othermp" value="" ng-model="response.camera"/>
            <label for="othermp">Not too photogenic</label>
          </p>
        </form>
      </div>