<h5>Do you like any particular OS?</h5>
    <div class="os">
         <form action="#" id="os">
          <p>
            <input class="with-gap" name="group6" type="radio" id="ios" value="iOS" ng-model="response.os"/>
            <label for="ios">iOS</label>
          </p>
          <p>
            <input class="with-gap" name="group6" type="radio" id="android" value="Android" ng-model="response.os"/>
            <label for="android">Android</label>
          </p>
          <p>
            <input class="with-gap" name="group6" type="radio" id="windows" value="Windows" ng-model="response.os"/>
            <label for="windows">Windows phone</label>
          </p>
          <p>
            <input class="with-gap" name="group6" type="radio" id="otheros" value="" ng-model="response.os"/>
            <label for="otheros">Nah...anything is fine</label>
          </p>
        </form>
      </div>