 <h5>Are you a fan of bright and colorful screen?</h5>
                 
     <div class="screendensity">
           <form action="#" id="screendensity">
            <p>
              <input class="with-gap" name="group3" type="radio" id="oneppi" value="165" ng-model="response.pixeldensity"/>
              <label for="oneppi">~165 ppi</label>
            </p>
            <p>
              <input class="with-gap" name="group3" type="radio" id="twoppi" value="230" ng-model="response.pixeldensity"/>
              <label for="twoppi">~230 ppi</label>
            </p>
            <p>
              <input class="with-gap" name="group3" type="radio" id="threeppi" value="330" ng-model="response.pixeldensity"/>
              <label for="threeppi">~330 ppi</label>
            </p>
            <p>
              <input class="with-gap" name="group3" type="radio" id="fourppi" value="401" ng-model="response.pixeldensity"/>
              <label for="fourppi">~401 ppi</label>
            </p>
            <p>
              <input class="with-gap" name="group3" type="radio" id="otherppi" value="" ng-model="response.pixeldensity"/>
              <label for="otherppi">Don't want to go too deep into specs</label>
            </p>
          </form>
      </div>