<h5>Money in the bank?</h5>
   <div class="price">
       <form action="#" id="price">
        <p>
          <input class="with-gap" name="group9" type="radio" id="onehundred" value="100" ng-model="response.price"/>
          <label for="onehundred">~$100</label>
        </p>
        <p>
          <input class="with-gap" name="group9" type="radio" id="threehundred" value="300" ng-model="response.price"/>
          <label for="threehundred">~$300</label>
        </p>
        <p>
          <input class="with-gap" name="group9" type="radio" id="fivehundred" value="500" ng-model="response.price"/>
          <label for="fivehundred">~$500</label>
        </p>
        <p>
          <input class="with-gap" name="group9" type="radio" id="sevenhundred" value="700" ng-model="response.price"/>
          <label for="sevenhundred">~$700</label>
        </p>
        <p>
          <input class="with-gap" name="group9" type="radio" id="othermoney" value="" ng-model="response.price"/>
          <label for="othermoney">Money in the bank ;)</label>
        </p>
      </form>
   </div>
   <div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    
    <button type="submit" class="btn btn-danger">Submit</button>
</div>