<h5>How about RAM now?</h5>
   <div class="ram">
         <form action="#" id="ram">
          <p>
            <input class="with-gap" name="group5" type="radio" id="oneram" value="1" ng-model="response.ram"/>
            <label for="oneram">~1 GB RAM</label>
          </p>
          <p>
            <input class="with-gap" name="group5" type="radio" id="tworam" value="2" ng-model="response.ram"/>
            <label for="tworam">~2 GB RAM</label>
          </p>
          <p>
            <input class="with-gap" name="group5" type="radio" id="threeram" value="3" ng-model="response.ram"/>
            <label for="threeram">~3 GB RAM</label>
          </p>
          <p>
            <input class="with-gap" name="group5" type="radio" id="fourram" value="4" ng-model="response.ram"/>
            <label for="fourram">~4 GB RAM</label>
          </p>
          <p>
            <input class="with-gap" name="group5" type="radio" id="otherram" value="" ng-model="response.ram"/>
            <label for="otherram">RAM as in Dodge RAM?</label>
          </p>
        </form>
      </div>