<!--
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
-->

<h5>Any preference on the screen size?</h5>
   <div class="screensize">
             <form action="#" id="screensize">
              
              <p>
                <input class="with-gap" name="group2" type="radio" id="threefive" value="3.5" ng-model="response.screensize"/>
                <label for="threefive">3.5 inches</label>
              </p>
              <p>
                <input class="with-gap" name="group2" type="radio" id="four" value="4" ng-model="response.screensize"/>
                <label for="four">4 inches</label>
              </p>
              <p>
                <input class="with-gap" name="group2" type="radio" id="foureight" value="4.8" ng-model="response.screensize"/>
                <label for="foureight">4.8 inches</label>
              </p>
              <p>
                <input class="with-gap" name="group2" type="radio" id="fivefive" value="5.5" ng-model="response.screensize"/>
                <label for="fivefive">5.5 inches</label>
              </p>
              <p>
                <input class="with-gap" name="group2" type="radio" id="othersize" value="" ng-model="response.screensize"/>
                <label for="othersize">No preference</label>
              </p>
            </form>
          </div>