 <h5>Don't like to delete stuff? Like that extra storage?</h5>
      <div class="storage">
             <form action="#" id="storage">
              <p>
                <input class="with-gap" name="group8" type="radio" id="sixteengb" value="16" ng-model="response.storage"/>
                <label for="sixteengb">16 GB</label>
              </p>
              <p>
                <input class="with-gap" name="group8" type="radio" id="thirtytwogb" value="32" ng-model="response.storage"/>
                <label for="thirtytwogb">32 GB</label>
              </p>
              <p>
                <input class="with-gap" name="group8" type="radio" id="sixtyfourgb" value="64" ng-model="response.storage"/>
                <label for="sixtyfourgb">64 GB</label>
              </p>
              <p>
                <input class="with-gap" name="group8" type="radio" id="onetwentyeightgb" value="128" ng-model="response.storage"/>
                <label for="onetwentyeightgb">128 GB</label>
              </p>
              <p>
                <input class="with-gap" name="group8" type="radio" id="othergb" value="" ng-model="response.storage"/>
                <label for="othergb">How do you download, again?</label>
              </p>
            </form>
          </div>