.header-img {
  background-image: url("../styles/header.jpg");
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 256px;
}

.header-background {
  animation: colorChange 30s infinite;
  -webkit-animation: colorChange 30s infinite;
  height: 256px;

  background-image: url("../styles/header.jpg");
  background-blend-mode: hard-light;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes colorChange {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75%  {background-color: green;}
  100% {background-color: red;}
}

@-webkit-keyframes colorChange { /* Safari and Chrome - necessary duplicate */
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75%  {background-color: green;}
  100% {background-color: red;}
}

.header-text {
  color: #FFF;
  text-align: center;
}

.md-headline {
  margin: 0;
}
